*
{
    font-family: "Arial";
}

body
{
	margin: 0%;
    background-color: #57a1c4;
}

a
{
    color:#000;
    text-decoration: none;
}

a:visited
{
    color:#000;
    text-decoration: none;
}

#nombreempresa
{
    font-size: 25px;
    margin: 0;
    padding: 0%;
    height: 165px;
    color: #fff;
    background-color: #000000;
}

#barrasuperior
{
    width: 100%;
    height: 45px;
    background-color: #adaaa3;
}


.link
{
    font-size: 20px;
    border-right: solid #000 3px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.link1
{
    font-size: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.logo
{
    padding-left: 100px;
    padding-right: 350px;
}

.tabla
{
    text-align: center;
    height: 45px;
    padding-top: 0px;
}